cartopy
cmocean
dask
ipython
geopandas
h5netcdf
matplotlib
numpy
opencv-python # opencv if conda
pandas
pytorch
rasterio
rich
richdem
shapely
torchvision
tqdm
seaborn
scikit-learn
scipy
xarray
