cartopy
cmocean
dask
ipython
geopandas
h5netcdf
matplotlib
numpy
opencv-python # opencv if conda
pandas
pytorch
pytorch-lightning
rasterio
rich
richdem
shapely
tensorboard
timm
torchvision
torchmetrics
tqdm
seaborn
scikit-learn
scipy
xarray
