cartopy
cmocean
cdsapi
dask
ipython
geopandas
geopy
h5netcdf
matplotlib
numpy
numba
opencv-python
pandas
pillow
torch
--index-url https://download.pytorch.org/whl/cu118; system_platform  != 'Darwin'
pytorch-lightning
rasterio
rich
richdem
shapely
tensorboard
timm
torchaudio
torchvision
torchmetrics
tqdm
seaborn
scikit-learn
scipy
xarray